<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


</head>
<body>

<!--<nav class="navbar navbar-inverse">-->
<nav class="navbar navbar-dark bg-success">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Greenway Nursery</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/menu/home">Home</a></li>
            <li><a href="/menu/about">About</a></li>
            <li><a href="/menu/allProducts">All products</a></li>
            <li><a href="/menu/login">Customer Login</a></li>
            <li><a href="/menu/registration">Registration</a></li>
            <li><a href="/menu/contactUs">ContactUs</a></li>
        </ul>
    </div>
</nav>
<p>
    <h1>Let's Grow a Garden Together</h1>
</p>
<p>
    Hi! We’re Nature Hills Nursery and we’re a group of real people offering really good plants. Really! For over 20 years we’ve been passionate about providing high quality plants you can count on for prices you’ll love.

    Wondering how we came to be? Easy! A pair of brothers opened up a local coniferous trees shop back in 2001 with the hope that they’d help home gardeners and landscapers alike add trees to their yard. They quickly realized people were looking for more than just pine trees so they packed up shop, moved online, and as they say, the rest is history.

    Over the years, we’ve expanded to offer anything and everything you could want for your landscape. Evergreens, fruit trees, roses, perennials, bushes, bulbs, and more. In fact, we offer over 10,000 items for your home and yard. Now THAT’S the makings of a great garden.

    We may be a little larger now, but making sure you have the information to make the best decisions about your garden will always be top priority for us. Send us your questions or give us a call--we can’t wait to help you grow your garden.
</p>
</body>
</html>

