<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>



</head>
<body>

<!--<nav class="navbar navbar-inverse">-->
<nav class="navbar navbar-dark bg-success">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Online Nursery</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">All products</a></li>
            <li><a href="#">Customer Login</a></li>
            <li><a href="#">Registration</a></li>
            <li><a href="#">ContactUs</a></li>

        </ul>
    </div>
</nav>

<div id="rightlogin">

    <form action="#" th:action="@{/additemtoshoppingcart}"   th:object="${product}"  method="post">
        <table align="center">
            <tr>
                <td>ProductID:</td>
                <td th:text="${product.id}"></td>
               <!-- <td> <input type="hidden" th:text="${product.id}"  name="productid" th:value="${product.product.id}"></td>-->
            </tr>
            <tr>
                <td>ProductName:</td>
                <td th:text="${product.productname}"></td>
                <td><!--<input type="hidden" th:text="${product.productname}" name="productname" th:value="${product.productname}"></td>-->
            </tr>
            <tr>
                <td>Required Quantity:</td>
                <td><select th:field="*{quantity}">
                    <option th:each="i : ${#numbers.sequence(0, 100)}" th:value="${i}" th:text="${i}">
                    </option>
                </select></td>
            </tr>
            <tr>
                <td colspan="2"> <input type="submit" value="Submit">
            </tr>
        </table>

    </form>
</div>

</body>

</html>
