<html xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link th:href="@{/css/productdetailstest.css}" rel="stylesheet" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


</head>
<body>

<nav class="navbar navbar-dark bg-success">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Greenway Nursery</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/menu/home">Home</a></li>
      <li><a href="/menu/about">About</a></li>
      <li><a href="/menu/allProducts">All products</a></li>
      <li><a href="/menu/login">Customer Login</a></li>
      <li><a href="/menu/registration">Registration</a></li>
      <li><a href="/menu/contactUs">ContactUs</a></li>
    </ul>
  </div>
</nav>
<div class="product">
  <h1>Login Form</h1>
  <form action="#" th:action="@{/home}"  method="post">
    <table align="center">
      <tr>
        <td>User Email:</td>
        <td><input type="text" id="username" name="username" placeholder="Username" required autofocus></td>
      </tr>
      <tr>
        <td>Password:</td>
        <td><input type="password" id="password" name="password" placeholder="Password" required></td>
      </tr>
      <tr>
        <td colspan="2"> <input type="submit" value="Submit">
      </tr>
      <tr>
        <td>New User? </td>
        <td><a th:href="@{'/menu/registration'}" >Register Here            </a>
        </td>
      </tr>
      </tbody>
    </table>
  </form>

</div>

</body>
</html>
